::ng-deep .snack-style{
  background-color: rgb(66, 66, 66);
  color: rgb(197, 197, 197);
  min-width: 25em;
}

:host {
  div {
    display: flex;
    align-items: center;

    span {
      mat-icon {
        margin-right: .5em;
      }
    }

    button {
      margin-left: .5em;
    }

    div:nth-child(2) {
      background: #373737;
      color: #f5f5f5;
      padding: .4em;
      margin-right: .5em;
      border-radius: 5px;
    }
  }
}
