:host {
  mat-drawer-container {
    width: 100%;
    height: 100%;

    mat-drawer {
      min-width: 300px;
      user-select: none;

      mat-nav-list {
        mat-icon {
          padding-left: .4em;
          padding-right: .4em;
        }
      }
    }

    mat-toolbar {
      font-size: 2em;
      font-family: 'Quantico', sans-serif;
    }
  }
}
