::ng-deep .error-snack-style {
  background-color: rgb(66, 66, 66);
  color: rgb(197, 197, 197);
  min-width: 28em;
}

:host {
  div {
    display: flex;
    align-items: center;

    span {
      mat-icon {
        margin-right: 0.5em;
      }
    }

    button {
      margin-left: 0.5em;
    }

    div:nth-child(2) {
      background: #373737;
      color: #f5f5f5;
      padding: 0.4em;
      margin-right: 0.5em;
      border-radius: 5px;
    }
  }

  @keyframes pulse {
    0% {
      background-color: #6d6d6d;
    }
    50% {
      background-color: inherit;
    }
    100% {
      background-color: #6d6d6d;
    }
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      animation: pulse infinite 2s;
    }

    margin: -1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  mat-divider {
    margin-inline: -1em;
    margin-bottom: -0.1em;
  }

  mat-list {
    margin-top: -1.5em;
    mat-list-item {
      font-size: 14px;
    }
    mat-divider:last-child {
      display: none;
    }
  }
}
