<form [formGroup]="createPasswordForm">
  <div>
    <mat-form-field appearance="outline">
      <mat-icon matSuffix>person</mat-icon>
      <mat-label>Username</mat-label>
      <input required formControlName="username" matInput />
      <mat-error *ngIf="createPasswordForm.invalid">{{
        createPasswordForm.getError("username")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-icon matSuffix>password</mat-icon>
      <mat-label>Password</mat-label>
      <input required formControlName="password" matInput />
      <mat-error *ngIf="createPasswordForm.invalid">{{
        createPasswordForm.getError("password")
      }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-icon matSuffix>link</mat-icon>
      <mat-label>Website URL</mat-label>
      <input formControlName="uri" matInput />
      <mat-error *ngIf="createPasswordForm.invalid">{{
        createPasswordForm.getError("uri")
      }}</mat-error>
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline">
        <mat-icon matSuffix>wallpaper</mat-icon>
        <mat-label>Icon URL</mat-label>
        <input #iconInput formControlName="imageSrc" matInput />
        <mat-error *ngIf="createPasswordForm.invalid">{{
          createPasswordForm.getError("imageSrc")
        }}</mat-error>
      </mat-form-field>
      <img
        #icon
        (error)="icon.src = noImageUrl"
        [src]="iconInput.value"
        alt="Icon URL"
      />
    </div>

    <mat-form-field appearance="outline" hintLabel="Max 1000 characters">
      <mat-icon matSuffix>sticky_note_2</mat-icon>
      <mat-label>Description</mat-label>
      <textarea
        #descriptionInput
        cdkTextareaAutosize
        formControlName="description"
        matInput
      ></textarea>
      <mat-hint align="end"
        >{{ descriptionInput.value?.length || 0 }}/1000
      </mat-hint>
      <mat-error *ngIf="createPasswordForm.invalid">{{
        createPasswordForm.getError("description")
      }}</mat-error>
    </mat-form-field>
  </div>

  <button
    (click)="addPassword()"
    [disabled]="createPasswordForm.invalid"
    color="primary"
    mat-flat-button
  >
    Add
    <mat-icon>add</mat-icon>
  </button>
</form>
<mat-accordion>
  <perfect-scrollbar>
    <div>
      <mat-expansion-panel
        [style.pointer-events]="
          password.description === null && password.uri === null
            ? 'none'
            : 'unset'
        "
        [hideToggle]="password.description === null && password.uri === null"
        *ngFor="let password of passwordsToSave"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon matSuffix>person</mat-icon>
            <span>{{ password.username }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon matSuffix>key</mat-icon>
            <span>{{ password.password }}</span>
          </mat-panel-description>
          <mat-panel-description *ngIf="password.imageSrc">
            <img
              [src]="password.imageSrc"
              alt="Icon URL"
            />
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <div *ngIf="password.uri">
            <mat-icon matPrefix>link</mat-icon>
            <perfect-scrollbar>
              <div>{{ password.uri }}</div>
            </perfect-scrollbar>
          </div>
          <mat-divider
            *ngIf="password.description !== null && password.uri !== null"
          ></mat-divider>
          <div *ngIf="password.description">
            <mat-icon>sticky_note_2</mat-icon>
            <perfect-scrollbar>
              <div>{{ password.description }}</div>
            </perfect-scrollbar>
          </div>
        </section>
      </mat-expansion-panel>
    </div>
  </perfect-scrollbar>
</mat-accordion>

<br />

<button
  *ngIf="passwordsToSave.length !== 0"
  color="primary"
  mat-flat-button
  mat-dialog-close
  [disabled]="passwordsToSave.length === 0"
  (click)="savePasswords()"
>
  Save
</button>
